.loader {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
   text-align: center;
   font-size: 18px;
   top: 45%;
   font-family: Arial, Helvetica, sans-serif
}

@keyframes logoFadeInOut {
   0% {transform: scale(1.1);}
   50% {transform: scale(0.9);}
   100% {transform: scale(1.1);}
}

.loader img {
   animation-name: logoFadeInOut;
   animation-iteration-count: infinite;
   animation-duration: 2s;
}

.loader {
   transition: 0.5s opacity, 0.5s visibility;
}

.notification-icon{
  width:0.5rem;
  height:0.5rem;
  border-radius:50%;
  background-color:#4680ff;
  position:absolute;
  top:2px;
  right:0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2c3e50 #32465a;
}

/* Works on Chrome/Edge/Safari */
.contacts::-webkit-scrollbar {
  width: 8px;
}
.contacts::-webkit-scrollbar-track {
  background: #2c3e50;
}
.contacts::-webkit-scrollbar-thumb {
  background-color: #32465a;
  border-radius: 20px;
  border: 1px solid white;
}

.fadeout {
   opacity: 0;
   visibility: hidden;
}

#messages {
  padding-top:10px;  
}

#messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
#messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}

#messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 80%;
  line-height: 130%;
}
